<div class="pt-10 mx-5 pl-0 pr-0 md:pl-20 md:pr-20">
  <.link href="/" class="text-base hover:text-text-hover group">
    <img
      src="/images/arrow-back.svg"
      class="invert w-4 h-4 inline-block mr-1 group-hover:-translate-x-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
    />Daniel Musau
  </.link>
  <h1 class="text-3xl font-bold mb-10">All Projects</h1>

  <table class="w-full">
    <thead>
      <tr class="border-b">
        <th class="pb-4 text-left font-bold w-[10%]">Year</th>
        <th class="pb-4 text-left font-bold w-[15%] hidden md:table-cell">Project</th>
        <th class="pb-4 text-left font-bold w-[15%] hidden md:table-cell">Made at</th>
        <th class="pb-4 text-left font-bold w-[20%] md:table-cell">Description</th>
        <th class="pb-4 text-left font-bold w-[20%] hidden md:table-cell">Built with</th>
        <th class="pb-4 text-left font-bold w-[15%]">Link</th>
      </tr>
    </thead>
    <tbody>
      <!-- Bingero Recommendations Engine -->
      <tr class="border-b">
        <td class="py-4">2026</td>
        <td class="py-4 font-bold hidden md:table-cell">Recommendations Engine</td>
        <td class="py-4 hidden md:table-cell">Personal Project</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A recommendations engine for the Bingero app that allows users to get recommendations for movies and tv shows.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">Absinthe GraphQL</span>
            <span class="language-tag">PostgreSQL</span>
            <span class="language-tag">Oban</span>
            <span class="language-tag">TMDB API</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://apps.apple.com/us/app/bingero/id6762550914"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Bingero Recommendations Engine
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Daily Disciple -->
      <tr class="border-b">
        <td class="py-4">2026</td>
        <td class="py-4 font-bold hidden md:table-cell">Daily Disciple</td>
        <td class="py-4 hidden md:table-cell">Favored Company</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A daily devotional app that helps users connect with God through daily readings and reflections.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">Phoenix Liveview</span>
            <span class="language-tag">PostgreSQL</span>
            <span class="language-tag">React Native</span>
            <span class="language-tag">Expo</span>
            <span class="language-tag">Firebase</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://apps.apple.com/us/app/the-daily-disciple/id6784362788"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Daily Disciple
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Bingero API -->
      <tr class="border-b">
        <td class="py-4">2025</td>
        <td class="py-4 font-bold hidden md:table-cell">Bingero API</td>
        <td class="py-4 hidden md:table-cell">Personal Project</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A GraphQL API for the Bingero app that allows users to store movie and tv show ratings, watchlists and reviews.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">Absinthe GraphQL</span>
            <span class="language-tag">PostgreSQL</span>
            <span class="language-tag">JWT</span>
            <span class="language-tag">TMDB API</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://apps.apple.com/us/app/bingero/id6762550914"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Bingero API
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- ClassifyMe -->
      <tr class="border-b">
        <td class="py-4">2025</td>
        <td class="py-4 font-bold hidden md:table-cell">ClassifyMe</td>
        <td class="py-4 hidden md:table-cell">Personal Project</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A student guidance platform that matches learners to courses and universities based on their academic performance, interests and personality.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Python Django</span>
            <span class="language-tag">Django REST framework</span>
            <span class="language-tag">PostgreSQL</span>
            <span class="language-tag">AWS Aurora</span>
            <span class="language-tag">OpenAI API</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://classifyme.co.ke/"
            class="hover:text-text-hover group"
            target="_blank"
          >
            ClassifyMe
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Hypedboards -->
      <tr class="border-b">
        <td class="py-4">2025</td>
        <td class="py-4 font-bold hidden md:table-cell">Hypedboards</td>
        <td class="py-4 hidden md:table-cell">Favored Company</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A gamified SaaS platform that transforms sales activities into engaging competition with real-time leaderboards, achievements, and rewards. Features team chat, custom rewards, and CRM integrations to boost team performance and motivation.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">Phoenix Liveview</span>
            <span class="language-tag">RESTful API</span>
            <span class="language-tag">PostgreSQL</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://www.hypedboards.com"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Hypedboards
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- OnSpace-Zapier Integration -->
      <tr class="border-b">
        <td class="py-4">2024</td>
        <td class="py-4 font-bold hidden md:table-cell">OnSpace-Zapier Integration</td>
        <td class="py-4 hidden md:table-cell">OnSpace Technologies</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A Zapier integration that connects OnSpace with 8,000+ apps, enabling automated workflows. Includes triggers for new records, updated records, and reminders to streamline operations and automate manual tasks.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">Zapier</span>
            <span class="language-tag">RESTful API</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://zapier.com/apps/onspace/integrations?msockid=29a1c0b3dea3617f1a69d59fdf5f60a7"
            class="hover:text-text-hover group"
            target="_blank"
          >
            OnSpace-Zapier Integration
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Ueberauth Zapier -->
      <tr class="border-b">
        <td class="py-4">2024</td>
        <td class="py-4 font-bold hidden md:table-cell">Ueberauth Zapier</td>
        <td class="py-4 hidden md:table-cell">Personal Project</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            An open-source Elixir package that integrates Zapier's OAuth system using the Ueberauth framework. Enables developers to easily implement Zapier authentication, allowing users to connect their accounts to the platform.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">Zapier</span>
            <span class="language-tag">OAuth 2.0</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://hex.pm/packages/ueberauth_zapier"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Ueberauth Zapier
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- GPS Area Measurement -->
      <tr class="border-b">
        <td class="py-4">2024</td>
        <td class="py-4 font-bold hidden md:table-cell">GPS Area Measurement</td>
        <td class="py-4 hidden md:table-cell">OnSpace Technologies</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A field type that enables users to define virtual geographical perimeters using GPS coordinates and calculate precise land area measurements. Supports multiple polygons and can restrict form submissions based on location boundaries.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">GraphQL</span>
            <span class="language-tag">PostgreSQL</span>
            <span class="language-tag">PostGIS</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://getonspace.com/gps-location-input-field/"
            class="hover:text-text-hover group"
            target="_blank"
          >
            GPS Area Measurement
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Unique ID Generator -->
      <tr class="border-b">
        <td class="py-4">2024</td>
        <td class="py-4 font-bold hidden md:table-cell">Unique ID Generator</td>
        <td class="py-4 hidden md:table-cell">OnSpace Technologies</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            An advanced field type that automatically generates unique identifiers for form records. Users can define a prefix and starting index, with IDs incrementing automatically for each new submission, ideal for managing invoices and receipts.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">PostgreSQL</span>
            <span class="language-tag">GraphQL</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://getonspace.com/unique-id/"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Unique ID Generator
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Multichoice Grid -->
      <tr class="border-b">
        <td class="py-4">2024</td>
        <td class="py-4 font-bold hidden md:table-cell">Multichoice Grid</td>
        <td class="py-4 hidden md:table-cell">OnSpace Technologies</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A survey-style field type that allows users to create grids with customizable rows and columns. Each row can accept multiple answers or a single selection per column based on user preferences.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">GraphQL</span>
            <span class="language-tag">PostgreSQL</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://getonspace.com/multiple-choice-grid-questions/"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Multichoice Grid
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Engagement Reports -->
      <tr class="border-b">
        <td class="py-4">2024</td>
        <td class="py-4 font-bold hidden md:table-cell">Engagement Reports</td>
        <td class="py-4 hidden md:table-cell">OnSpace Technologies</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            An interactive analytics feature that displays team members and their form message counts in a list view. Includes filtering by date range and participant to track engagement over time.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">PostgreSQL</span>
            <span class="language-tag">GraphQL</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://getonspace.com/analytics/"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Engagement Reports
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Global Spark Website v2 -->
      <tr class="border-b">
        <td class="py-4">2023</td>
        <td class="py-4 font-bold hidden md:table-cell">Global Spark Website v2</td>
        <td class="py-4 hidden md:table-cell">Global Spark</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A modern, high-performance website built for Global Spark to enhance
            user engagement and showcase innovation-driven initiatives. Developed
            with React and Firebase, it delivers a seamless user experience, improved
            accessibility, and optimized performance—leading to increased user interaction.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">React.js</span>
            <span class="language-tag">Node.js</span>
            <span class="language-tag">Tailwind CSS</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://globalspark.world/"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Global Spark Website v2
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Sub Forms -->
      <tr class="border-b">
        <td class="py-4">2023</td>
        <td class="py-4 font-bold hidden md:table-cell">Sub Forms</td>
        <td class="py-4 hidden md:table-cell">OnSpace Technologies</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A feature that enables users to create forms inside forms, allowing them to restructure CSV files into a more presentable and organized format.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">GraphQL</span>
            <span class="language-tag">PostgreSQL</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://getonspace.com/subform/"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Sub Forms
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Skip Logic -->
      <tr class="border-b">
        <td class="py-4">2023</td>
        <td class="py-4 font-bold hidden md:table-cell">Skip Logic</td>
        <td class="py-4 hidden md:table-cell">OnSpace Technologies</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A dynamic form feature that conditionally skips input fields based on user responses. When users select specific dropdown options, certain fields are automatically hidden to create a more tailored survey experience.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">GraphQL</span>
            <span class="language-tag">PostgreSQL</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://getonspace.com/skip-logic/"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Skip Logic
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Action Buttons -->
      <tr class="border-b">
        <td class="py-4">2023</td>
        <td class="py-4 font-bold hidden md:table-cell">Action Buttons</td>
        <td class="py-4 hidden md:table-cell">OnSpace Technologies</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            A workflow feature that allows users to assign approvers for message requests. Assigned reviewers receive email notifications and can approve or reject requests with comments.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Elixir</span>
            <span class="language-tag">GraphQL</span>
            <span class="language-tag">PostgreSQL</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://getonspace.com/action-buttons/"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Action Buttons
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <!-- Simple Shell -->
      <tr class="border-b">
        <td class="py-4">2022</td>
        <td class="py-4 font-bold hidden md:table-cell">Simple Shell</td>
        <td class="py-4 hidden md:table-cell">Personal Project</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            The Simple Shell is a custom implementation of the standard Unix command-interpreter.
            It allows for the execution of commands and supports various built-in commands.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">C</span>
            <span class="language-tag">Unix Command-interpreter</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://github.com/DanielMusau/simple_shell"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Simple Shell
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <tr class="border-b">
        <td class="py-4">2022</td>
        <td class="py-4 font-bold hidden md:table-cell">Printf</td>
        <td class="py-4 hidden md:table-cell">Personal Project</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            The Printf function is a custom implementation of the standard C library function printf.
            It allows for formatted output to the console and supports various format specifiers.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">C</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://github.com/DanielMusau/printf"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Printf
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
      <tr class="border-b">
        <td class="py-4">2022</td>
        <td class="py-4 font-bold hidden md:table-cell">Adaptive Traffic Lights System</td>
        <td class="py-4 hidden md:table-cell">Personal Project</td>
        <td class="py-4 md:table-cell">
          <p class="text-sm">
            The Adaptive Traffic Lights system uses live images from the cameras at traffic
            junctions for traffic density calculation using YOLO object detection and sets
            the signal timers accordingly.
          </p>
        </td>
        <td class="py-4 hidden md:table-cell">
          <div class="flex flex-wrap gap-1">
            <span class="language-tag">Python</span>
            <span class="language-tag">CNN</span>
            <span class="language-tag">YOLO Object Detection</span>
            <span class="language-tag">Machine Learning</span>
          </div>
        </td>
        <td class="py-4">
          <.link
            href="https://github.com/DanielMusau/Adaptive-Traffic-Lights"
            class="hover:text-text-hover group"
            target="_blank"
          >
            Adaptive Traffic Lights
            <img
              src="/images/arrow-up-right.svg"
              class="invert w-4 h-4 inline-block group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform duration-300 ease-in-out group-hover:opacity-70"
            />
          </.link>
        </td>
      </tr>
    </tbody>
  </table>
</div>
